.navbar {  
    /* background-color: grey; */
    width: 100%;
    height: 50px;
  }

.remove{
  position: absolute;
  right: 2px; 
  /* top: 0;  */
  cursor: pointer;
  z-index: 3,
}

.item-container{
  background-color: grey;
  border-radius: 2px;
  border: 2px;
  border-bottom: 2px;
}